body{
    background-color: black;
    color: white;
}

h1{
    font-size: 20px; 
}

p{
    font-size: 12px; 
    color: green; 
}

div{
    border: dotted;
    border-width: 2px;
}

.myDiv{ 
    width: 100px;
    height: 100px; 
}

